<launch>
  <arg name="enable_moveit" default="true"/>
  <arg name="enable_rviz" default="true"/>
  <arg name="enable_flipper_control" default="true"/>
  <arg name="enable_mobility_control" default="true"/>
  <arg name="enable_gripper_cmd" default="true"/>
  <arg name="enable_moveit_servo" default="true"/>
  <arg name="enable_paw_vision" default="true"/>
  <arg name="enable_co2_sensor" default="true"/>

  <arg name="pipeline" default="ompl"/>
  <arg name="servo_config" default="$(find car_control)/config/moveit_servo.yaml"/>

  <arg name="canopen_dcf_path" default="$(find Eyou_Canopen_Master)/config/master.dcf"/>
  <arg name="canopen_joints_path" default="$(find Eyou_Canopen_Master)/config/joints.yaml"/>
  <arg name="can_driver_config" default="$(find can_driver)/config/can_driver.yaml"/>
  <arg name="robot_urdf" default="$(find car_urdf)/urdf/car_urdf.urdf"/>
  <arg name="loop_hz" default="200.0"/>
  <arg name="auto_init" default="false"/>
  <arg name="auto_enable" default="false"/>
  <arg name="auto_release" default="false"/>

  <include file="$(find robot_bringup)/launch/full_system_hardware.launch">
    <arg name="enable_co2_sensor" value="$(arg enable_co2_sensor)"/>
    <arg name="canopen_dcf_path" value="$(arg canopen_dcf_path)"/>
    <arg name="canopen_joints_path" value="$(arg canopen_joints_path)"/>
    <arg name="can_driver_config" value="$(arg can_driver_config)"/>
    <arg name="robot_urdf" value="$(arg robot_urdf)"/>
    <arg name="loop_hz" value="$(arg loop_hz)"/>
    <arg name="auto_init" value="$(arg auto_init)"/>
    <arg name="auto_enable" value="$(arg auto_enable)"/>
    <arg name="auto_release" value="$(arg auto_release)"/>
  </include>

  <include file="$(find robot_bringup)/launch/full_system_control.launch">
    <arg name="enable_mobility_control" value="$(arg enable_mobility_control)"/>
    <arg name="enable_flipper_control" value="$(arg enable_flipper_control)"/>
    <arg name="enable_gripper_cmd" value="$(arg enable_gripper_cmd)"/>
  </include>

  <include file="$(find robot_bringup)/launch/full_system_moveit.launch">
    <arg name="enable_moveit" value="$(arg enable_moveit)"/>
    <arg name="enable_rviz" value="$(arg enable_rviz)"/>
    <arg name="enable_moveit_servo" value="$(arg enable_moveit_servo)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="servo_config" value="$(arg servo_config)"/>
  </include>

  <include file="$(find robot_bringup)/launch/full_system_vision.launch">
    <arg name="enable_paw_vision" value="$(arg enable_paw_vision)"/>
  </include>
</launch>
